<div class="banner">
  <div class="banner-logo">
    <a href="{{site.baseurl}}/">
      <img class="banner-logo" src="https://raw.githubusercontent.com/google/agi/master/tools/logo/logo.svg?sanitize=true" width="32" height="32" alt="AGI logo"/>
      <span class="banner-title">{{include.title | default: site.title}}</span>
    </a>
  </div>
  <div class="banner-nav">
    <!--<a href="">Getting Started</a>-->
    <!--<a href="">Tutorials</a>-->
    <a href="{{site.baseurl}}/{{site.docurl}}">Documentation</a>
    <a href="{{site.feedback-url}}">File a bug</a>
    <a href="{{site.project-url}}">GitHub</a>
  </div>
  <div class="banner-menu">
    <span class="material-icons" onclick="toggleMenu(this)">menu</span>
  </div>
  <script>
    function toggleMenu(e) {
      var nav = e.parentElement.parentElement.getElementsByClassName("banner-nav")[0];
      if (nav.style.display != "block") {
        nav.style.display = "block";
      } else {
        nav.style.display = "none";
      }
    }
  </script>
</div>
