<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture title %}{{site.title}}{% if page.title != "Home" %} &middot; {{ page.title }}{% endif %}{% endcapture %}

  <title>{{ title }}</title>
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="Android GPU Inspector is a single tool that will help you profile and debug graphics on Android.">
  <meta itemprop="image" content="https://raw.githubusercontent.com/google/agi/master/tools/logo/logo_512.png">
  <meta property="og:url" content="{{site.baseurl}}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{site.title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="Android GPU Inspector is a single tool that will help you profile and debug graphics on Android.">
  <meta property="og:image" content="https://raw.githubusercontent.com/google/agi/master/tools/logo/logo_512.png">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/google/agi/master/tools/logo/logo_32.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/{{include.css | default: 'main'}}.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type="text/javascript" src="{{site.baseurl}}/assets/tabs.js"> </script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/images.js"> </script>
</head>
