@charset "utf-8";

.sidebar {
    flex: 0 0 15em;
    font-size: .9rem;
    overflow-y: auto;
    color: #4a4a4a;
    background-color: #f7f9fa;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
    z-index: 1;
    min-height: 100%;
}

// Sidebar nav
.sidebar-item.child {
    padding-left: 35px;
}

.sidebar ul {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
}

.sidebar ul.level0 {
    padding-left: 2px;
    margin-top: 0px;
}

.sidebar li {
    list-style: none;
    padding-top: 0px;
}

.sidebar-item.active,
.sidebar-item:hover,
.sidebar-item:focus {
    color: #0068da;
    background-color: rgba(255, 255, 255, 0.1);
}

a.sidebar-item:hover {
  text-decoration:none;
}

.sidebar-item-heading,
.sidebar-item {
    display: block;
    padding: 5px;
    padding-left: 12px;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 14px;
}

.sidebar-item-heading {
    font-weight: 500;
}

.sidebar-sep {
    border-bottom: solid 1px #e5e5e5;
}
